@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}


h2 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: white;
}


.thiago {
    border-radius:50%;
    width:100px;
    height: 100px;
    margin-right: 20px;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    justify-content: space-around;
    padding: 24px;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    color: white;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    align-items: center;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

.estilotexto {
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: white;
}




.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.fotos1 {
    border-radius: 10px 0px 0px 10px;
}

.fotos3 {
    border-radius: 0px 10px 10px 0px;
}


.conteudo-secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(199, 193, 193);
}


.thiagoperfil {
    border-radius:45%;
    padding:15px;
    margin: 15px;
}
#perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
}




h3 {
    text-align:center;
    font-size:50px;
    font-family: 'Merriweather', serif;
    padding-top: 80px;
}

p {
    text-align:center;
    font-size: 30px;
    text-decoration: none;
    padding: 35px;
    margin: 35px;
}

#portfolio {
    text-align:center;
    align-items:center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-size: 25px;
    font-family: 'Merriweather', serif;
}


.galeria {
    width: 100vw;
    text-align:center;
    padding-top:;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    
}

.galeria1 {
    display: flex;
    overflow-x: auto;
    align-items: center;
    padding-top: 10px;
    scroll-behavior: smooth;
}


.fotosgaleria {
    width: 50%;
    height: 50%;
    flex: none;
    object-fit: cover;
    pointer-events: none;
}



.rodape {
    background-color: rgb(199, 193, 193);
    text-decoration: none;
    color: black;
}




html {
    scroll-behavior: smooth;
    
  }

  .topo{
    text-align:center;
    align-items:center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: black;  
  }