@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}


h2 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: white;
}


.thiago {
    border-radius:50%;
    width:100px;
    height: 100px;
    margin-right: 20px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    justify-content: space-around;
    padding: 24px;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    color: white;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.fotos1 {
    border-radius: 10px 0px 0px 10px;
}

.fotos3 {
    border-radius: 0px 10px 10px 0px;
}


.conteudo-secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(199, 193, 193);
}


.thiagoperfil {
    border-radius:45%;
    padding:15px;
    margin: 15px;
}
.perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
}




h3 {
    text-align:center;
    font-size:50px;
    font-family: 'Merriweather', serif;
    padding-top: 80px;
}

p {
    text-align:center;
    font-size: 30px;
    text-decoration: none;
    padding: 35px;
    margin: 35px;
}





